.snake{
    width:100%;
    height:600px;
    background: black;
    margin: 0px;
    font-size: 0px;
    background-image: url("pr.jpg");
}

.box{
    width: 2%;
    border: solid 1px white;
    height: 18px;
    display: inline-block;
    margin: 0px;
    font-size: 0px;
}
.snake_body{
    background: red;
    border: solid 1px wheat;
}

.mouse{
    background: pink;
}

.card{
    margin:10px;
}

.foreign_snake{
    background: green;
}